<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Additional Options</title>
</head>
<body>
<form>
    <label>Registration type:</label>
    <select>
        <option>Admin</option>
        <option>Supplier</option>
        <option>Honda user</option>
        <option>Delivery person</option>
    </select>

    <label>Full name: </label>
    <input type="text"/>

    <label>CNIC no.</label>
    <input type="number" maxlength="13"/>

    <label>CNIC issue date</label>
    <input type="number" maxlength="13"/>

    <label>Cell phone:</label>
    <input type="number" maxlength="11"/>

    <label>Cell phone:</label>
    <input type="number" maxlength="11"/>

    <label>Username: </label>
    <input type="text"/>

    <label>Password: </label>
    <input type="password"/>

    <input type="submit" value="Register" />


    <p> Other supplier fields as required: // db users table to be changed.</p>


</form>
</body>
</html>