<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="container">
        <form th:action="@{/login}" method="post">

            <h4> Login </h4>

            <p th:if="${error}" th:text="${error}"></p>
            <div>
                <label>Login as</label>
                <select>
                    <option>Admin</option>
                    <option>Supplier</option>
                    <option>Honda</option>
                </select>
            </div>

            <div>
                <input type="text" name="username" id="username" placeholder="Username" />
            </div>


            <div>
                <input type="password" name="password" id="password" placeholder="password" />
            </div>
            <div class="login">
                <input type="submit" value="Login" />
            </div>
        </form>

    </div>
</body>

</html>